<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <a href="#" class="btn btn-default">Горячие блюда</a>
                    <a href="#" class="btn btn-default">Супы</a>
                    <a href="#" class="btn btn-default">Салаты</a>
                    <a href="#" class="btn btn-default">Закуски</a>
                    <a href="#" class="btn btn-default">Напитки</a>
                    <a href="#" class="btn btn-default">Десерты</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div *ngFor="let dish of dishs">
                <div class="col-md-3">
                    <h2>{{ dish.name }}
              <small>&nbsp;{{ dish.price }} руб.</small>
            </h2>
                    <p>{{ dish.info }}</p>
                </div>
            </div>
        </div>
    </div>
</div>