<div *ngIf="!(typeOfDish)">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Меню
              <br>
            </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a><img src="/home/blackgopher/Pictures/cheshskaya-kuhnya-1-vk.jpg" class="img-responsive"></a>
                    <h3 class="text-primary"><a (click)="changeTypeOfDish('test')">Горячие блюда</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
                </div>
                <div class="col-md-4">
                    <a><img src="../../Pictures/sup.jpg" class="img-responsive"></a>
                    <h2 class="text-primary"><a href="soups.html">Супы</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
                </div>
                <div class="col-md-4">
                    <a><img src="/home/blackgopher/Pictures/559eb0fd476f1.jpg" class="img-responsive"></a>
                    <h2>Салаты</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a><img src="/home/blackgopher/Pictures/2771de4b1333a52c86a2c836e024cd560fa3ee7a_900.jpg" class="img-responsive"></a>
                    <h3>Закуски</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
                </div>
                <div class="col-md-4">
                    <a><img src="../../Pictures/04.jpg" class="img-responsive"></a>
                    <h3>Напитки</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
                </div>
                <div class="col-md-4">
                    <a><img src="/home/blackgopher/Pictures/1680x1120.jpg" class="img-responsive"></a>
                    <h2>Десерты</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="(typeOfDish)">
    <menu [typeOfDish]="typeOfDish"></menu>
</div>