#header {
    font-size: 80px;
}

#name {
    color: #ffffff;
    font-family: 'Lobster';
    font-size: 60px;
}

body {
    background-color: #FFE4C4;
}

#soups {
    font-size: 40px;
    font-family: 'Lobster';
}

